html {
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	color: white;
	background-color: #222;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.nav {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: orange solid 4px;
}
.nav li {
  float: left;
  font-size: 15px;
}
.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 40px 40px;
  text-decoration: none;
}
.nav a:link {
  color: orange;
  text-decoration: none;
}
.active {
  color: white !important;
}

.nav a:visited {
  color: orange;
  text-decoration: none;
}

.nav a:hover {
  color: #e67e00 !important;
  background-color: transparent;
}

.nav a:active {
  color: #e67e00;
  background-color: transparent;
}
.content {
	padding:20px;
	margin-top:80px;
	text-align: center;
}
footer {
  background-color: black;
  width: 100%;
  text-align: center;
  padding: 20px 0px;
  border-top: orange solid 4px;
  margin-top: auto;
}
/* Social Icons */
.fa {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 60%;
  color: white;
  background-color: #222;
}
/* grid */
* {
  box-sizing: border-box;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: auto;
  width: 80%;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.desc {
  background-color: black;
  color: white;
  border: 3px solid orange;
  height: 350px;
  padding: 10px;
  border-radius: 1%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

h2 {
	color: orange;
}

p {
	margin: 0.25em;
}
/* DROPDOWN */
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px !important;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 20px 16px !important;
  text-decoration: none;
  display: block;
  text-align: left !important;
}

.dropdown-content a:hover {
  background-color: white !important;
}

.dropdown:hover .dropdown-content {
  display: block;
}